/* ===============================
   TABLET (max-width: 1024px)
================================ */

@media (max-width: 1024px) {

    #hero {
        flex-direction: column;
        height: auto;
        padding: 40px;
        text-align: center;
    }

    .right img {
        width: 300px;
        margin-top: 20px;
    }

    .left {
        align-items: center;
    }

    #services {
        padding: 40px;
        flex-wrap: wrap;
    }

    #About-us {
        padding: 40px;
        flex-wrap: wrap;
        height: auto;
        gap: 20px;
    }

    #About-us .value {
        width: 45%;
    }

    .information {
        gap: 60px;
        flex-wrap: wrap;
        text-align: center;
    }
}

/* ===============================
   MOBILE (max-width: 768px)
================================ */

@media (max-width: 768px) {

    header {
        padding: 15px;
    }

    #nav {
        flex-direction: column;
        height: auto;
        gap: 15px;
    }

    #nav ul{
        display: flex;
        flex-direction: row;
    }

    .section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #hero {
        padding: 30px 20px;
    }

    .left h1 {
        font-size: 30px;
    }

    .left p {
        font-size: 16px;
    }

    .right img {
        width: 260px;
    }

    .achievements h1 {
        font-size: 20px;
    }

    /* SERVICES */
    #services {
        padding: 30px 20px;
        flex-direction: column;
        gap: 25px;
    }

    #services .value {
        width: 100%;
        max-width: 320px;
        margin: auto;
    }

    /* CONTACT */
    #contact-us {
        flex-direction: column;
        height: auto;
        padding: 30px 20px;
        text-align: center;
    }

    .subs input {
        width: 100%;
    }

    .subs button{
        width: 112%;
    }

    /* ABOUT US */
    #About-us {
        flex-direction: column;
        padding: 30px 20px;
    }

    #About-us .value {
        width: 100%;
        max-width: 320px;
    }

    /* FOOTER */
    .information {
        flex-direction: column;
        gap: 30px;
    }
}

/* ===============================
   SMALL MOBILE (max-width: 480px)
================================ */

@media (max-width: 480px) {

    .left h1 {
        font-size: 26px;
    }

    .left p {
        font-size: 15px;
    }

    .left button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .achievements h1 {
        font-size: 12px;
    }

    footer {
        padding: 15px;
    }
}
